.parent{
  display: flex;
  justify-content: center;
 
  
  width: 100%;
}
.child{
  width: 20%;
  height: 30%;
  border: 1px solid rgb(238, 147, 147);
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  text-align: center;
  border-radius: 20px;
  background-color: bisque;
  
  
  
}
.child img{
  width: 60%;
}

.link{
  text-decoration: none;
  font-size: large;
} 
.mobile{
  text-decoration: none;
  font-size: large;
}
.btn{
  background-color: rgb(169, 197, 190);
  text-decoration: none;
  font-size: larger;
  box-shadow: 0px 8px 8px -8px rgb(105, 114, 66);
  display: block;
  border-radius: 10px;
  width: none;
  color: rgb(246, 105, 10);

}
.child2{
  border: 1px solid rgb(241, 144, 144);
  width: 78%;
  padding: 1%;
  margin: 1%;
  box-shadow: 0px 8px 8px -8px #000;
  border-radius: 20px;
  background-color: bisque
  
  
}
.skill{
  margin: 1%;
  padding: 1%;
  border: solid rgb(177, 145, 107);
  border-radius: 10px;
  box-shadow: 6px 16px 16px -15px rgb(18, 238, 29);
  font-size: large;
  

}
.child>a{
  color: rgb(129, 160, 79);
}
.bhoom{
  margin: 1%;
  padding: 1%;
  border: solid rgb(177, 145, 107);
  border-radius: 10px;
  box-shadow: 6px 16px 16px -15px rgb(18, 238, 29);
  font-size: large;
  
}